.hold-container {
    display: flex;
    flex-direction: row;
    height: 100%;
}

.hold-clocks {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    min-width: 1px;
    justify-content: space-evenly;
}

.hold-holdPercent {
    flex-basis: 150px;
    flex-shrink: 0;
    justify-content: center;
    display: flex;
    align-items: flex-end;
    margin-bottom: 39px;
    margin-right: 9px;
}

.hold-clock {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hold-clockTitle {
	font-weight: bold;
    margin-bottom: 7px;
    font-size: 22px;
    text-align: center;
}

.hold-clockDigital {
    width: 180px;
    height: 50px;
    border: 2px solid #8181af;
    border-radius: 7px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    letter-spacing: 3px;
}
